<h1>Verify your account</h1>

<p>Click on the link below to verify your account:</p>

<p style="font-weight: 400;"><%= verifyEmailLink %></p>

<p>Verifying your email address will allow you to use all the features of your account.</p>

<p>
  Kind regards
</p>
