<h1>Forgot your password? Let's get you a new one.</h1>

<p>We got a request to change the password for the account with the email <%= user.email %></p>
<p>If you don't want to reset your password, you can ignore this email.</p>

<p>Click the link below to reset your password:</p>
<p style="font-weight: 400;"><%= forgotPasswordLink %></p>


<p>
  Kind regards
</p>
